<header class="page-header">
    <button class="menu icon-button">
        <mat-icon class="green-font">menu</mat-icon>
    </button>

    <img class="logo" src="./../../assets/images/love-energy-savings-logo.png">

    <button class="phone icon-button">
        <mat-icon class="green-font">phone</mat-icon>
    </button>

    <div class="phone-number">
        <h3 class="green-font">0800 9888 375</h3>
    </div>

    <div class="link-wrapper"><a href="#" class="header-link">About Us</a></div>
    <div class="link-wrapper"><a href="#" class="header-link">Content Hub</a></div>
    <div class="link-wrapper"><a href="#" class="header-link">Other Services</a></div>
    <div class="link-wrapper"><a href="#" class="header-link">Home Energy</a></div>
    <div class="link-wrapper"><a href="#" class="header-link">Business Energy</a></div>
</header>
