<div class="basic-info">
    <div class="info">
        <h3 class="blue-font">Save money for your business by switching water supplier</h3>

        <p>
            <strong>Since 2017, UK businesses, charities and public sector organisations have been able to choose who supplies their water, meaning they can now avoid being locked into costly contracts.</strong>
        </p>
        <p>If your business still hasn’t switched, you could make significant savings by comparing water suppliers to find a better deal.</p>
        <p>At Love Energy Savings, we are committed to guiding you through the process of switching water supplier to help you find the very best deal for your business.</p>

        <img class="water-savings" src="./../../assets/images/love-water-savings-logo.png">
        <img class="trust-pilot" src="./../../assets/images/trust-pilot-logo.svg">
    </div>
</div>
