<div class="suppliers">
    <div class="row heading-row">
        <div class="column-heading">Water Supplier</div>
        <div class="column-heading hide-on-mobile">Description</div>
        <div class="column-heading hide-on-mobile">Water Comparison</div>
    </div>

    <div class="row">
        <div class="column-data">
            <img src="./../../assets/images/water-supplier-logos/everflow-water.png">
        </div>

        <div class="column-data">
            <p>Independent water supplier Everflow promise to build a well for every 250 customers switched</p>
        </div>

        <div class="column-data">
            <a href="#" class="request-quote">Request a quote</a>
        </div>
    </div>

    <div class="row">
        <div class="column-data">
            <img src="./../../assets/images/water-supplier-logos/castle-water-smaller-logo.png">
        </div>

        <div class="column-data">
            <p>Launched in 2014, Castle Water is the UK’s leading independent business water supplier</p>
        </div>

        <div class="column-data">
            <a href="#" class="request-quote">Request a quote</a>
        </div>
    </div>

    <div class="row">
        <div class="column-data">
            <img src="./../../assets/images/water-supplier-logos/water-business.png">
        </div>

        <div class="column-data">
            <p>Water2business date back to a joint venture created by Bristol Water and Wessex Water in 2000</p>
        </div>

        <div class="column-data">
            <a href="#" class="request-quote">Request a quote</a>
        </div>
    </div>

    <div class="row">
        <div class="column-data">
            <img src="./../../assets/images/water-supplier-logos/wave.png">
        </div>

        <div class="column-data">
            <p>Wave Utilities is a leading national water supplier with over 300,000 business customers</p>
        </div>

        <div class="column-data">
            <a href="#" class="request-quote">Request a quote</a>
        </div>
    </div>

    <button class="button raised-button">Show all suppliers <mat-icon>add</mat-icon></button>

    <div class="supplier-images">
        <div class="supplier-image">
            <img src="./../../assets/images/water-supplier-logos/source-for-business.png">
        </div>

        <div class="supplier-image">
            <img src="./../../assets/images/water-supplier-logos/ses-water.png">
        </div>

        <div class="supplier-image">
            <img src="./../../assets/images/water-supplier-logos/water-plus.png">
        </div>

        <div class="supplier-image">
            <img src="./../../assets/images/water-supplier-logos/aimera.png">
        </div>

        <div class="supplier-image">
            <img src="./../../assets/images/water-supplier-logos/first-business-water.png">
        </div>

        <div class="supplier-image">
            <img src="./../../assets/images/water-supplier-logos/castle-water-medium-size-logo.png">
        </div>
    </div>
</div>
